
@{
    ViewBag.Title = "OutOfStock";
}

<div class="jumbotron" style="text-align:center; background-color: transparent;">
</div>
<div class="container-fluid">
    <div style="background: repeating-linear-gradient(to right, #1d1d1d 0%, #313131 21%, #323232 50%, #313131 79%, #1d1d1d 100%); padding: 15px 15px 15px 15px; border-radius:15px 15px 15px 15px">
        <h1 class="align-center">Your order was not proceeded! Items out of stock selected.</h1>
        <p>
            <a href="/Comics">Go Back To Catalogue</a>
        </p>
    </div>
</div>

