@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<p><img style="max-height:500px; width:100%" src="https://t4.ftcdn.net/jpg/00/75/19/79/240_F_75197993_ACVwnhYzRIIpu9JRPqjzsCYt5bjpYFUY.jpg" /></p>

