
@{
    ViewBag.Title = "ServerError";
}

<div class="jumbotron" style="text-align:center; background-color: rgba(255, 255, 255, 0.8)">
    <p><img style="min-height:500px" src="https://t4.ftcdn.net/jpg/00/75/19/79/240_F_75197993_ACVwnhYzRIIpu9JRPqjzsCYt5bjpYFUY.jpg" /></p>
</div>

