
@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron" style="text-align:center; background-color: transparent;">
</div>
<div class="container-fluid">
    <div class="jumbotron" style="text-align:center; background: repeating-linear-gradient(to right, #1d1d1d 0%, #313131 21%, #323232 50%, #313131 79%, #1d1d1d 100%);border-radius:15px 15px 15px 15px">
        <h2 class="align-center">@ViewBag.Title:</h2>
        <h3 class="align-center">@ViewBag.Message</h3>
        <hr />
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">Phone Number:</abbr>
            4255550100
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>